html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://i.pinimg.com/originals/49/0d/02/490d02154ec33ffff4e9ab1da17445e2.jpg");
  background-size: cover;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #bfe5ffde;
  overflow: auto;
}

nav p {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 55px;
  float: left;
  padding: 0px 100px;

}

nav ul {
  float: left;
}

nav ul li {
  font-family: 'Dosis', sans-serif;
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  font-size: 18px;
  padding: 21px 44px;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover {
  background-color: #73a3c4de;
}

.MaD {
  font-family: 'Dosis', sans-serif;
  float: left;
  padding: 0 100px;
  text-decoration: none;
  position: relative;
  font-size: 48px;
}

div select {
  font-family: 'Dosis', sans-serif;
  float: left;
  padding: 20px 100px;
  margin-left: 100px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
}

.sel {
  font-family: 'Dosis', sans-serif;
  float: left;
  padding: 0 100px;
  text-decoration: none;
  position: relative;
  font-size: 24px;
}

.abt {
  font-family: 'Dosis', sans-serif;
  float: left;
  padding: 0 80px;
  text-decoration: none;
  position: relative;
  font-size: 24px;
}

p a {
  font-family: 'Dosis', sans-serif;
  float: left;
  padding: 0 80px;
  text-decoration: none;
  position: relative;
  font-size: 24px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

* {box-sizing:border-box}
