html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: bolder;
}

/* Gold */
.row:nth-child(1) {background: #ffd700de;}
/* Silver */
.row:nth-child(2) {background: #c0c0c0de;}
/* Bronze */
.row:nth-child(3) {background: #bc8e21de;}

#container {
  width: 600px;
  margin-left: auto;
  height: auto;
  margin: 0 auto;
}


.row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #AFAFAF;
}

.name {
  font-family: 'Dosis', sans-serif;
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

.points {
  position: relative;
  display: inline-block;
  width: 25%;
  font-family: 'Teko', sans-serif;
}

.row:nth-child(1) {
  background: #ffd700de;
}

.row:nth-child(2) {
  background: #c0c0c0de;
}

.row:nth-child(3) {
  background: #bc8e21de;
}

.row:nth-child(4) {
  background: white;
}

.row:nth-child(5) {
  background: white;
}
.row:nth-child(6) {
  background: white;
}
.row:nth-child(7) {
  background: white;
}
.row:nth-child(8) {
  background: white;
}
.row:nth-child(9) {
  background: white;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://i.pinimg.com/originals/49/0d/02/490d02154ec33ffff4e9ab1da17445e2.jpg");
  background-size: cover;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #bfe5ffde;
  overflow: auto;
}

nav p {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 55px;
  float: left;
  padding: 0px 100px;

}

nav ul {
  float: left;
}

nav ul li {
  font-family: 'Dosis', sans-serif;
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  font-size: 18px;
  padding: 21px 44px;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover {
  background-color: #73a3c4de;
}

h1 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

* {box-sizing:border-box}
