<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="style/aboutHandler.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  </head>
  <body>
      <!--<div class="row" id="row1">
      <div id="links">
        <a class="link1" href="/charityamount"><span style ="font-family: Geneva">Charity organisations</span></a>
        <a class="link2" href="/Leaderboard"><span style="font-family: Geneva">Leaderboard</span></a>
        <a class="link3" href="/personal"><span style="font-family: Geneva">My Profile</span></a>
      </div>-->
      <div id="navbar">
        <nav>
          <p>Donation$</p>
          <ul>
            <li><a href="/charityamount">Charity Organisations</a></li>
            <li><a href="/personal">{{username}}</a></li>
            <li><a href="/Leaderboard">Leaderboard</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href={{Loginout}}>{{Loginoutresponse}}</a></li>
          </ul>
        </nav>
      </div>
      <!-- Slideshow container -->
      <br>
      <h1>Your spare change could change the world.</h1>
      <h2>About Us</h2>
      <br>
      <br>
      <h3>We a group of highly passionate individuals, aiming to have a lasting impact in the world. We were heavily inspired and moved by the recent state of events that had and are now taking place like the crisis in Yemen, the refugee crisis, climate change and many more. You can help them, no, humanity, us all, by donating even a cent to the verified charities listed on our page.
“There is no greater joy, nor greater reward than to make a fundamental difference in someone's life.”</h3>
      <!--<img class = "mySlides" src="https://www.childrensociety.org.sg/resources/ck/images/FB-website%20banner.png">
      <img class = "mySlides" src="https://images.squarespace-cdn.com/content/v1/552e430de4b036b38b3f0f45/1559550565728-5BIVJI2KIBK216WMQL0K/ke17ZwdGBToddI8pDm48kA7ZnXjLYZ9jduREYvqdI9VZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI5lEX9AkerGXrl5KBnEmMj0omfy_DPLzKfywtjLwyN-M/Website+Banner.png?format=2500w">
      <img class = "mySlides" src="https://www.childrensociety.org.sg/resources/ck/images/FB-website%20banner.png">
      <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>-->
  </body>
</html>
