<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="style/aboutHandler.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  </head>
  <body>
      <!--<div class="row" id="row1">
      <div id="links">
        <a class="link1" href="/charityamount"><span style ="font-family: Geneva">Charity organisations</span></a>
        <a class="link2" href="/Leaderboard"><span style="font-family: Geneva">Leaderboard</span></a>
        <a class="link3" href="/personal"><span style="font-family: Geneva">My Profile</span></a>
      </div>-->
      <div id="navbar">
        <nav>
          <p>Donation$</p>
          <ul>
            <li><a href="/charityamount">Charity Organisations</a></li>
            <li><a href="/personal">{{username}}</a></li>
            <li><a href="/Leaderboard">Leaderboard</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href={{Loginout}}>{{Loginoutresponse}}</a></li>
          </ul>
        </nav>
      </div>
      <!-- Slideshow container -->
      <br>
      <h1>Your spare change could change the world.</h1>
      <h2>About Us</h2>
      <br>
      <br>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
      <!--<img class = "mySlides" src="https://www.childrensociety.org.sg/resources/ck/images/FB-website%20banner.png">
      <img class = "mySlides" src="https://images.squarespace-cdn.com/content/v1/552e430de4b036b38b3f0f45/1559550565728-5BIVJI2KIBK216WMQL0K/ke17ZwdGBToddI8pDm48kA7ZnXjLYZ9jduREYvqdI9VZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI5lEX9AkerGXrl5KBnEmMj0omfy_DPLzKfywtjLwyN-M/Website+Banner.png?format=2500w">
      <img class = "mySlides" src="https://www.childrensociety.org.sg/resources/ck/images/FB-website%20banner.png">
      <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>-->
  </body>
</html>
