.link {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0,0,0,0);
  margin: 20px;
  min-height: 20px;
}


#links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bfe5ff;
}

a {
color: #ffffffff;
}

a:link {
color: #ffffffff;
}

#links {
  justify-content: space-between;
  align-items: center;

}
#links {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 10px;

  text-decoration: none;
}

#links :hover {
  background-color: #73a3c4;
}
