<!DOCTYPE html>
<html>
  <head>
    <title>Donate an amount</title>
    <link rel="stylesheet" href="style/charityAmountHandler.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  </head>
  <body>
  <!-- <style
        div {
           list-style-type: none;
           margin: 0;
           padding: 0;
        }

        div {
            border-bottom: 1px solid #555;
            display: inline;
        }
      </style>
    </body>
    <br> -->
    <div id="navbar">
      <nav>
        <p>Charitie$</p>
        <ul>
          <li><a href="/personal">{{username}}</a></li>
          <li><a href="/Leaderboard">Leaderboard</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/">Main Page</a></li>
          <li><a href={{Loginout}}>Logout</a></li>
        </ul>
      </nav>
    </div>
    <br>
    <br>
    <div>
      <p class="MaD">Make a Donation</p>
      <form method="post" action='/charityamount'>
        {% block content %}
          <br>
          <br>
          <br>
          <br>
          <br>
          <p class="sel">Select a Charity:</p>
          <br>
          <br>
          <br>
          <select class="select-css">
            {% for item in Ch %}
            <option value={item.link}>{{item}}</option>
            {% endfor %}
          </select>
          <div>
            <input type="submit" value="Go!">
          </div>
        {% endblock %}
      </form>
  </body>
</html>
