<!DOCTYPE html>
<html>
  <head>
    <title>Donate an amount</title>
    <link rel="stylesheet" href="style/charityAmountHandler.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  </head>
  <body>
  <!-- <style
        div {
           list-style-type: none;
           margin: 0;
           padding: 0;
        }

        div {
            border-bottom: 1px solid #555;
            display: inline;
        }
      </style>
    </body>
    <br> -->
    <div id="navbar">
      <nav>
        <p>Donation$</p>
        <ul>
          <li><a href="/personal">{{username}}</a></li>
          <li><a href="/Leaderboard">Leaderboard</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/">Main Page</a></li>
          <li><a href={{Logout}}>Logout</a></li>
        </ul>
      </nav>
    </div>
    <br>
    
  </body>
</html>
