<!DOCTYPE html>
<html>
  <head>
    <title>Donate an amount</title>
    <link rel="stylesheet" href="style/charityAmountHandler.css">
  </head>
  <body>
    <h1>List of charity organisations</h1>
  </body>
  <br>

      <style>
        .active {
          background-color: #4CAF50;
          color: white;
        }
        div {
           list-style-type: none;
           margin: 0;
           padding: 0;
        }

        div {
            border-bottom: 1px solid #555;
            display: inline;
        }
      </style>
    </head>
    <br>
    <section>
        <div class="row" id="row1">
        <div id="links">
          <a class="link" href="http://www.blessingsinabag.co/givefinancially/"><span style ="font-family: Geneva">Blessings in a Bag</span></a>
          <a class="link" href="https://clubrainbow.squarespace.com/donate-via-credit-cards"><span style="font-family: Geneva">Club Rainbow</span></a>
          <a class="link" href="https://www.childrensociety.org.sg/donation"><span style="font-family: Geneva">Singapore Children's Society</span></a>
        </div>
        <a href="http://www.hyperlinkcode.com/change-hyperlink-color.php" style="color: #ffffff"></a>
    </section>

</html>
