<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/LeaderboardHandler.css">
  </head>
  <body>
    <h1> Top donors of the week </h1>
  </body>


  <div id="container">
    <div class="row">
      <div class="name">UserA</div><div class="points">430</div>
    </div>

    <div class="row">
      <div class="name">UserB</div><div class="points">580</div>
    </div>

    <div class="row">
      <div class="name">UserC</div><div class="points">310</div>
    </div>

    <div class="row">
      <div class="name">UserD</div><div class="points">640</div>
    </div>

    <div class="row">
      <div class="name">UserE</div><div class="points">700</div>
    </div>
  </div>
  </body>
</html>
