<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/LeaderboardHandler.css">
  </head>
  <body>
    <div id="navbar">
      <nav>
        <p>Donation$</p>
        <ul>
          <li><a href="/charityamount">Charity Organisations</a></li>
          <li><a href="/personal">{{username}}</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/">Main Page</a></li>
          <li><a href={{Logout}}>Logout</a></li>
        </ul>
      </nav>
    </div>
    <br>
    <br>
    <div>
      <h1> Top donors of the week </h1>
    </div>
  </body>

  <div id="container">
    <div class="row">
      <div class="name">UserA</div><div class="points">430</div>
    </div>

    <div class="row">
      <div class="name">UserB</div><div class="points">580</div>
    </div>

    <div class="row">
      <div class="name">UserC</div><div class="points">310</div>
    </div>

    <div class="row">
      <div class="name">UserD</div><div class="points">640</div>
    </div>

    <div class="row">
      <div class="name">UserE</div><div class="points">700</div>
    </div>

    <div class="row">
      <div class="name">UserF</div><div class="points">564</div>
    </div>

    <div class="row">
      <div class="name">UserG</div><div class="points">432</div>
    </div>

    <div class="row">
      <div class="name">UserH</div><div class="points">522</div>
    </div>

    <div class="row">
      <div class="name">UserI</div><div class="points">571</div>
    </div>
    <div class="row">
      <div class="name">UserJ</div><div class="points">745</div>
    </div>


  </div>
  </body>
</html>
