<!DOCTYPE html>
<html>
  <head>
    <title>Donation$</title>
    <link rel="stylesheet" href="MainHandler.css">

    <style>
      .active {
        background-color: #4CAF50;
        color: white;
      }
      div {
         list-style-type: none;
         margin: 0;
         padding: 0;
      }

      div {
          border-bottom: 1px solid #555;
          display: inline;
      }
    </style>
  </head>
  <body>
    <h1>Your spare change could change the world. </h1>
  </body>
  <br>
  <section>
      <div class="row" id="row1">
      <div id="links">
        <a class="link" href="https:www.google.com.sg"><span style ="font-family: Geneva">List of charity organisations</span></a>
        <a class="link" href="https:www.google.com.sg"><span style="font-family: Geneva">Leaderboard</span></a>
        <a class="link" href="https:www.google.com.sg"><span style="font-family: Geneva">My Profile</span></a>
      </div>
  </section>

</html>
