<!DOCTYPE html>
<html>
  <head>
    <title>Personal Info</title>
    <link rel="stylesheet" href="style/PersonalHandler.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="navbar">
      <nav>
        <p>Donation$</p>
        <ul>
          <li><a href="/charityamount">Charity Organisations</a></li>
          <li><a href="/Leaderboard">Leaderboard</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/">Main Page</a></li>
          <li><a href={{Logout}}>Logout</a></li>
        </ul>
      </nav>
    </div>
    <br>
    <h2>My Profile</h2>
  </body>
  <div id="profile-container">
    <image id="profileImage" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" />
  </div>
  <div>
    <form>
      <input type="file" name="fileupload" value="fileupload" id="fileupload">
      <label for="fileupload"> Select a file to upload</label>
      <input type="submit" value="submit">
    </form>
  </div>
  <body>
    <h3>Username: {{username}} </h3>
    <h3>Bank account: {{MoneyInBank}}</h3>
    <h4>Amount Money Donated in Total: {{TotalDonated}}</h4>
  </body>
</html>
