<!DOCTYPE html>
<html>
  <head>
    <title>Personal Info</title>
    <link rel="stylesheet" href="style/PersonalHandler.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="templates/PersonalHandler.js"></script>

  </head>
  <body>
    <div id="navbar">
      <nav>
        <p>Donation$</p>
        <ul>
          <li><a href="/charityamount">Charity Organisations</a></li>
          <li><a href="/Leaderboard">Leaderboard</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/">Main Page</a></li>
          <li><a href={{Logout}}>Logout</a></li>
        </ul>
      </nav>
    </div>
    <br>
    <h2>My Profile</h2>
  </body>
  <div id="profile-container">
    <image id="profileImage" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" />
  </div>
  <div>
    <form post = "/PersonalHandler">
      <input type="file" name="fileupload" value="fileupload" id="fileupload">
      <label for="fileupload"> Select a file to upload</label>
      <input type="submit" value="submit">
    </form>
  </div>
  <body>

    <h3>Username: {{username}} </h3>
    <h3>Total donated: {{TotalDonated}}</h3>
    <h4>Balance: {{MoneyInBank}}</h4>
  </div>

</body>
</html>


<!--CSS:
#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border-style: dotted;
}

#profileImage {
  width: 150px;
  height: 150px;
  margin-top: -1px;
  margin-left: -1px;
}
-->
